html {
  max-width: 80ch;
  padding: 0 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3em 0 1em;
}

p,
ul,
ol {
  margin-bottom: 2em;
  color: navajowhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  height: 350px;
  width: 700px;
}

.App {
  background: url("https://ak.picdn.net/shutterstock/videos/1023435892/thumb/10.jpg");
  width: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: bisque;
}

#security-img {
  display: flex;
  justify-content: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: smaller;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#header {
  width: 100%;
}
